@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(18, 18, 18);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: auto;
}

.content > :nth-of-type(odd) {
  background-color: rgb(18, 18, 18);
}
.content > :nth-of-type(even) {
  background-color: rgb(23, 23, 23);
}

section {
  padding: 1rem;
}
section article:not(:last-child) {
  margin-bottom: 2rem;
}

.indent {
  padding: 1rem 0 0 1rem;
  border-left: 1px solid rgb(41, 41, 41);
}

.header {
  margin-bottom: 0.5rem;
}

.footer {
  background-color: rgb(41, 41, 41);
}

.section-heading {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.section-heading > .text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0.5rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-bottom: 0.5rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgb(255, 100, 165);
  border-radius: 2em;
  padding: 0.5rem 1rem;
}
button :not(:last-child) {
  margin-right: 0.25rem;
}

.social {
  margin-bottom: 2rem;
}
.social__icons {
  display: flex;
  align-items: center;
}
.social__icons :not(:last-child) {
  margin-right: 1.5rem;
}
@media (min-width: 37.5em) {
  section {
    padding: 2rem;
  }
  section article:not(:last-child) {
    margin-bottom: 3rem;
  }
  .section-heading {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
  }
  .indent {
    padding: 2rem 0 0 2rem;
  }
}
@media (min-width: 62.5em) {
  section {
    padding: 3rem 2rem;
  }
  section article:not(:last-child) {
    margin-bottom: 4rem;
  }
  .section-heading {
    padding: 5rem 0;
    margin-bottom: 4rem;
  }
  .section-heading .text-style-heading-1 {
    margin-bottom: 0;
  }
  .indent {
    padding: 2rem 0 0 2rem;
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  h3 {
    margin-bottom: 0.75rem;
  }
  h4 {
    margin-bottom: 0.5rem;
  }
}
* {
  color: rgb(235, 235, 235);
  font-family: Raleway, Sans-serif;
  letter-spacing: 0;
}

h1, h2, h3, h4,
div, span, p,
ol, ul, li strong,
small, i {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.15em;
}

h1, h2, h3, h4 {
  line-height: 1.1;
}

a, a:visited, a > span {
  color: rgb(235, 235, 235);
  font-weight: 700;
}

button {
  color: rgb(255, 100, 165);
  text-transform: uppercase;
  font-weight: 300;
}
button .material-symbols-outlined {
  font-weight: 100;
  font-size: 2em;
}

p {
  white-space: pre-line;
  line-height: 2;
}

span {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.text-style-title {
  color: rgb(173, 173, 248);
  text-transform: uppercase;
  font-family: Bungee Hairline, Sans-serif;
  font-weight: 500;
  line-height: 0.85;
  border-bottom: 0.025em solid rgb(173, 173, 248);
}

.text-style-heading-1 {
  position: relative;
  left: 0.75em;
  color: rgb(97, 81, 51);
  text-align: center;
  text-transform: uppercase;
  font-family: Poiret One, Sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 1.5;
}

.symbol {
  position: relative;
  font-family: serif;
}
.symbol__before, .symbol__after {
  bottom: 0.25rem;
  color: rgb(97, 81, 51);
  font-size: 3em;
}
.symbol__before::before {
  content: "⤜";
}
.symbol__after::after {
  content: "→";
}

.text-style-heading-2 {
  font-weight: 700;
}

.text-style-subtle {
  color: rgb(195, 195, 195);
  line-height: 1.1;
}

.text-style-muted {
  color: rgb(180, 180, 180);
  line-height: 1.75;
}

.text-style-button {
  color: rgb(255, 100, 165);
  text-transform: uppercase;
}

.font-size-s-l {
  font-size: 0.875rem;
}

.font-size-s {
  font-size: 0.8125rem;
}

.font-size-s-s {
  font-size: 0.75rem;
}

.font-size-m-l {
  font-size: 0.9375rem;
}

.font-size-m {
  font-size: 0.9375rem;
}

.font-size-m-s {
  font-size: 0.9375rem;
}

.font-size-l-l {
  font-size: 1.25rem;
}

.font-size-l {
  font-size: 1.75rem;
}

.font-size-l-s {
  font-size: 2.5rem;
}

.letter-spacing-s-l {
  letter-spacing: 1em;
}

.letter-spacing-s {
  letter-spacing: 1em;
}

.letter-spacing-s-s {
  letter-spacing: 1em;
}

.letter-spacing-m-l {
  letter-spacing: 1em;
}

.letter-spacing-m {
  letter-spacing: 1em;
}

.letter-spacing-m-s {
  letter-spacing: 1em;
}

.letter-spacing-l-l {
  letter-spacing: 1em;
}

.letter-spacing-l {
  letter-spacing: 1em;
}

.letter-spacing-l-s {
  letter-spacing: 1em;
}

@media (min-width: 37.5em) {
  .text-style-title {
    text-align: center;
  }
  .text-style-heading-1 br {
    display: none;
  }
  .font-size-s-l {
    font-size: 0.875rem;
  }
  .font-size-s {
    font-size: 0.8125rem;
  }
  .font-size-s-s {
    font-size: 0.75rem;
  }
  .font-size-m-l {
    font-size: 0.9375rem;
  }
  .font-size-m {
    font-size: 0.9375rem;
  }
  .font-size-m-s {
    font-size: 0.9375rem;
  }
  .font-size-l-l {
    font-size: 1.25rem;
  }
  .font-size-l {
    font-size: 1.75rem;
  }
  .font-size-l-s {
    font-size: 2.5rem;
  }
  .letter-spacing-s-l {
    letter-spacing: 1em;
  }
  .letter-spacing-s {
    letter-spacing: 1em;
  }
  .letter-spacing-s-s {
    letter-spacing: 1em;
  }
  .letter-spacing-m-l {
    letter-spacing: 1em;
  }
  .letter-spacing-m {
    letter-spacing: 1em;
  }
  .letter-spacing-m-s {
    letter-spacing: 1em;
  }
  .letter-spacing-l-l {
    letter-spacing: 1em;
  }
  .letter-spacing-l {
    letter-spacing: 1em;
  }
  .letter-spacing-l-s {
    letter-spacing: 1em;
  }
}
@media (min-width: 62.5em) {
  .text-style-title {
    text-align: left;
  }
  .font-size-l-l {
    font-size: 4rem;
  }
  .font-size-l {
    font-size: 3rem;
  }
  .font-size-l-s {
    font-size: 2.375rem;
  }
  .font-size-m-l {
    font-size: 2rem;
  }
  .font-size-m {
    font-size: 1.5rem;
  }
  .font-size-m-s {
    font-size: 1.25rem;
  }
  .font-size-s-l {
    font-size: 1.125rem;
  }
  .font-size-s {
    font-size: 1rem;
  }
  .font-size-s-s {
    font-size: 0.75rem;
  }
  .letter-spacing-l-l {
    letter-spacing: 1em;
  }
  .letter-spacing-l {
    letter-spacing: 0.75em;
  }
  .letter-spacing-l-s {
    letter-spacing: 0.5em;
  }
  .letter-spacing-m-l {
    letter-spacing: 0.2em;
  }
  .letter-spacing-m {
    letter-spacing: 0.15em;
  }
  .letter-spacing-m-s {
    letter-spacing: 0.1em;
  }
  .letter-spacing-s-l {
    letter-spacing: 1em;
  }
  .letter-spacing-s {
    letter-spacing: 1em;
  }
  .letter-spacing-s-s {
    letter-spacing: 1em;
  }
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  padding: 0 1rem 0;
  margin-bottom: 3rem;
  background-image: url(../images/Downtown.jpg);
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__header {
  z-index: 3;
  padding: 0.5rem 0;
  margin-top: auto;
}
.hero__overlay-a, .hero__overlay-b {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 65%;
  width: 100%;
}
.hero__overlay-a {
  z-index: 2;
  background-image: linear-gradient(transparent, transparent, rgb(18, 18, 18));
}
.hero__overlay-b {
  z-index: 0;
  background-image: linear-gradient(transparent, #22000e);
}
.hero__img_portrait {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 12rem;
  height: 12rem;
  margin: 0 1rem 1rem 0;
  border-radius: 50%;
  background-image: url(../images/PortraitSassy.jpg);
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: 110%;
}
@media (min-width: 37.5em) {
  .hero {
    padding: 0 2rem 0;
  }
  .hero__header > br {
    display: none;
  }
  .hero__img_portrait {
    height: 14rem;
    width: 14rem;
    margin: 0 0 3rem 0;
    left: 50%;
    translate: -50%;
  }
}
@media (min-width: 62.5em) {
  .hero {
    padding: 0 2rem 0;
  }
  .hero__img_portrait {
    height: 15rem;
    width: 15rem;
    margin: 0 0 1rem 2rem;
    left: 0;
    translate: 0;
  }
}

.experience__horizontal {
  display: flex;
  flex-direction: column;
}
.experience__horizontal > :not(:last-child) {
  margin: 0 0 2rem 0;
}
@media (min-width: 37.5em) {
  .experience__horizontal {
    flex-direction: row;
  }
  .experience__horizontal > :not(:last-child) {
    margin: 0 2rem 0 0;
  }
}/*# sourceMappingURL=style.css.map */