$primary-1: rgb(0, 0, 0);
$primary-2: rgb(255, 191, 0);
$primary-3: rgb(144, 144, 144);

$accent-1: rgb(120, 255, 235);
$accent-2: rgb(255, 100, 165);
$accent-3: rgb(255, 132, 0);

$secondary-1: rgb(255, 255, 255);
$secondary-2: rgb(255, 251, 250);
$secondary-3: rgb(255, 227, 178);