$primary-1: rgb(235, 235, 235);
$primary-2: rgb(195, 195, 195);
$primary-3: rgb(180, 180, 180);

$accent-1: rgb(143, 143, 255);
$accent-2: rgb(255, 100, 165);
$accent-3: rgb(97, 81, 51);

$secondary-1: rgb(18, 18, 18);
$secondary-2: rgb(23, 23, 23);
$secondary-3: rgb(36, 36, 36);

$hero-overlay-a: linear-gradient(transparent, transparent, rgb(18, 18, 18));
$hero-overlay-b: linear-gradient(transparent, rgb(33, 13, 6));