.experience {

    //MOBILE
    &__horizontal {
        display: flex;
        flex-direction: column;
        
        > :not(:last-child) {
            margin: 0 0 1rem 0;
        }
    }

    //TABLET
    @media (min-width: $breakpoint-md) {
        &__horizontal {
            flex-direction: row;

            > :not(:last-child) {
                margin: 0 2rem 0 0;
            }
        }
    }
    
    //DESKTOP
    @media (min-width: $breakpoint-lg) {
    
    }
}