//SETUP
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: $secondary-1;
}

//MOBILE
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: auto;
    width: 100vw;
}

footer {
    background-color: $secondary-3;

    .header {
        margin-bottom: 2rem;
    }

    .social {
        display: flex;
        align-items: center;

        :not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}

section {
    padding: $padding-small $padding-small $padding-med;
}

h2 {
    margin-bottom: 0;
}
h3 {
    margin-bottom: 0.5rem;
}
h4 {
    margin-bottom: 0.25rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;

    background-color: transparent;
    
    border: 1px solid $accent-2;
    border-radius: 2em;

    padding: 0.5rem 1rem;

    :not(:last-child) {
        margin-right: 0.25rem;
    }
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 4;
    height: 0;
}

#theme-toggle-button {
    position: absolute;
    top: $padding-small;
    right: $padding-small;

    font-weight: 500;

    background-color: $secondary-1;
    width: min-content;
    padding: 0.75rem;
    border-width: 2px;

    &.toggle-dark {
        color: $accent-1;
        border-color: $accent-1;

        &::after { content: 'dark_mode'; }
    }
    &.toggle-light{
        color: $accent-3;
        border-color: $accent-3;

        &::after { content: 'light_mode'; }
    }
    &.toggle-system {
        color: $accent-2;
        border-color: $accent-2;

        &::after { content: 'routine'; }
    }
}

//TABLET
@media (min-width: $breakpoint-md) {

    section {
        padding: $padding-med;
    }

    h2 {
        margin-bottom: 0;
    }
    h3 {
        margin-bottom: 0.5rem;
    }
    h4 {
        margin-bottom: 0.25rem;
    }

    #theme-toggle-button {
        top: $padding-med;
        right: $padding-med;
    }
}


//DESKTOP
@media (min-width: $breakpoint-lg) {

    section {
        padding: $padding-large $padding-med;
    }


    h2 {
        margin-bottom: 1.5rem;
    }
    h3 {
        margin-bottom: 0.75rem;
    }
    h4 {
        margin-bottom: 0.5rem;
    }

    #theme-toggle-button {
        top: $padding-med;
        right: $padding-med;
    }
}