.hero {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 65vw;

    padding: 0 $padding-small 0;
    margin-bottom: 0.5rem;

    background-image: url(../images/Downtown.jpg);
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__header {
        z-index: 3;

        padding: 0.5rem 0;
        margin-top: auto;
    }

    &__overlay-a, &__overlay-b {
        position: absolute;

        bottom: 0;
        right: 0;
        
        width: 100%;
    }
    &__overlay-a {
        z-index: 2;
        height: 40%;
        
        background-image: linear-gradient(transparent, transparent, $bg-1);
    }
    &__overlay-b {
        z-index: 0;
        height: 100%;

        background-image: linear-gradient(transparent, darken($accent-2, 63%));
    }
    
    &__img_portrait {
        position: absolute;
        z-index: 1;
        
        top: $padding-small;
        right: 0;

        width: $pfp-size-mobile;
        height: $pfp-size-mobile;

        margin: 0 $padding-small $padding-small 0;

        border-radius: 50%;
        
        background-image: url(../images/PortraitSassy.jpg);
        background-repeat: no-repeat;
        background-position: 50% 35%;
        background-size: 110%;
    }
    
    //TABLET
    @media (min-width: $breakpoint-md) {
        height: calc($pfp-size-tablet * 1.4);

        padding: 0 $padding-med 0;
        margin-bottom: 1rem;

        &__header {
            > br { display: none; }
        }

        &__img_portrait {
            height: $pfp-size-tablet;
            width: $pfp-size-tablet;

            margin: 0 0 $padding-large 0;

            top: $padding-small;
            left: 50%;
            translate: -50%;
        }

        &__overlay-a {
            height: 40%;
            
            background-image: linear-gradient(transparent, transparent, $bg-1);
        }
        &__overlay-b {
            height: 65%;
    
            background-image: linear-gradient(transparent, darken($accent-2, 63%));
        }
    }

    //DESKTOP
    @media (min-width: $breakpoint-lg) {
        height: calc($pfp-size-desktop + $padding-large);

        padding: 0 $padding-med 0;
        margin-bottom: 3rem;

        &__img_portrait {
            height: $pfp-size-desktop;
            width: $pfp-size-desktop;

            margin: 0 0 $padding-small $padding-med;

            top: auto;
            left: 0;
            bottom: $padding-small;
            translate: 0;
        }

        &__overlay-a {
            height: 35%;
            
            background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6), $bg-1);
        }
        &__overlay-b {
            height: 80%;
    
            background-image: linear-gradient(transparent, darken($accent-2, 63%));
        }
    }
}