* {
    color: $fg-1;
    font-family: $font-default;
    letter-spacing: 0;
}

h1, h2, h3, h4,
div, span, p,
ol, ul, li
strong, small, i {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: $ls-0_15em;
}

h1, h2, h3, h4 {
    line-height: 1.1;
}

a, a:visited, a > span {
    color: $fg-1;
    font-weight: 700;
}

button {
    color: $accent-2;
    text-transform: uppercase;
    // font-family: $font-alternative;
    font-weight: 300;

    .material-symbols-outlined {
        font-weight: 100;
        font-size: 2em;
    }
}

p {
    white-space: pre-line;

    line-height: 2;
}

span {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.text-style-title {
    color: $accent-1;
    text-transform: uppercase;
    font-family: $font-title;
    font-weight: 500;
    line-height: 0.85;

    border-bottom: 0.025em solid $accent-1;
}

.text-style-heading-1 {
    position: relative;
    left: 0.75em;

    color: $accent-3;
    text-align: center;
    text-transform: uppercase;

    font-family: $font-alternative;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.5;
}

.symbol {
    position: relative;
    font-family: serif;

    &__before, &__after {
        bottom: 0.25rem;
    
        color: $accent-3;

        font-size: 3em;
    }
    &__before::before {
        content: '\291C';
    }
    &__after::after {
        content: '\2192';
    }
}


.text-style-heading-2 {
    font-weight: 700;
}

.text-style-subtle {
    color: $fg-2;
    line-height: 1.1;
}

.text-style-muted {
    color: $fg-3;
    line-height: 1.75;
}

.text-style-button {
    color: $accent-2;
    text-transform: uppercase;
}

//MOBILE
.font-size-s-l { font-size: $fs-14px; }
.font-size-s   { font-size: $fs-13px; }
.font-size-s-s { font-size: $fs-12px; }

.font-size-m-l { font-size: $fs-15px; }
.font-size-m   { font-size: $fs-15px; }
.font-size-m-s { font-size: $fs-15px; }

.font-size-l-l { font-size: $fs-20px; }
.font-size-l   { font-size: $fs-28px; }
.font-size-l-s { font-size: $fs-40px; }

.letter-spacing-s-l { letter-spacing: $ls-1em; }
.letter-spacing-s   { letter-spacing: $ls-1em; }
.letter-spacing-s-s { letter-spacing: $ls-1em; }

.letter-spacing-m-l { letter-spacing: $ls-1em; }
.letter-spacing-m   { letter-spacing: $ls-1em; }
.letter-spacing-m-s { letter-spacing: $ls-1em; }

.letter-spacing-l-l { letter-spacing: $ls-1em; }
.letter-spacing-l   { letter-spacing: $ls-1em; }
.letter-spacing-l-s { letter-spacing: $ls-1em; }

//TABLET
@media (min-width: $breakpoint-md) {
    .text-style-title {
        text-align: center;
    }

    .text-style-heading-1 {
        br { display: none; }
    }


    .font-size-s-l { font-size: $fs-14px; }
    .font-size-s   { font-size: $fs-13px; }
    .font-size-s-s { font-size: $fs-12px; }

    .font-size-m-l { font-size: $fs-15px; }
    .font-size-m   { font-size: $fs-15px; }
    .font-size-m-s { font-size: $fs-15px; }

    .font-size-l-l { font-size: $fs-20px; }
    .font-size-l   { font-size: $fs-28px; }
    .font-size-l-s { font-size: $fs-40px; }


    .letter-spacing-s-l { letter-spacing: $ls-1em; }
    .letter-spacing-s   { letter-spacing: $ls-1em; }
    .letter-spacing-s-s { letter-spacing: $ls-1em; }

    .letter-spacing-m-l { letter-spacing: $ls-1em; }
    .letter-spacing-m   { letter-spacing: $ls-1em; }
    .letter-spacing-m-s { letter-spacing: $ls-1em; }

    .letter-spacing-l-l { letter-spacing: $ls-1em; }
    .letter-spacing-l   { letter-spacing: $ls-1em; }
    .letter-spacing-l-s { letter-spacing: $ls-1em; }
}

//DESKTOP
@media (min-width: $breakpoint-lg) {
    .text-style-title {
        text-align: left;
    }

    
    .font-size-l-l { font-size: $fs-64px; }
    .font-size-l   { font-size: $fs-48px; }
    .font-size-l-s { font-size: $fs-38px; }

    .font-size-m-l { font-size: $fs-32px; }
    .font-size-m   { font-size: $fs-24px; }
    .font-size-m-s { font-size: $fs-20px; }

    .font-size-s-l { font-size: $fs-18px; }
    .font-size-s   { font-size: $fs-16px; }
    .font-size-s-s { font-size: $fs-12px; }


    .letter-spacing-l-l { letter-spacing: $ls-1em; }
    .letter-spacing-l   { letter-spacing: $ls-0_75em; }
    .letter-spacing-l-s { letter-spacing: $ls-0_5em; }
    
    .letter-spacing-m-l { letter-spacing: $ls-0_25em; }
    .letter-spacing-m   { letter-spacing: $ls-0_15em; }
    .letter-spacing-m-s { letter-spacing: $ls-0_1em; }
    
    .letter-spacing-s-l { letter-spacing: $ls-1em; }
    .letter-spacing-s   { letter-spacing: $ls-1em; }
    .letter-spacing-s-s { letter-spacing: $ls-1em; }
}