$font-default: Raleway, Sans-serif;
$font-title: Raleway, Sans-serif;

$fs-x-small: 0.875rem;
$fs-small: 1rem;
$fs-default: 1.125rem;
$fs-medium: 1.25rem;
$fs-large: 1.5rem;
$fs-x-large: 3.5rem;

$ls-x-small: calc($fs-x-small * 0.125);
$ls-small: calc($fs-small * 0.3);
$ls-default: calc($fs-default * 0.2);
$ls-medium: calc($fs-medium * 0.125);
$ls-large: calc($fs-large * 0.1);
$ls-x-large: calc($fs-x-large * 0.1);

$breakpoint-md: 37.5em;
$breakpoint-lg: 62.5em;

//DARK
$text-default: rgb(235, 235, 235);
$text-muted: rgb(158, 158, 158);

$accent-1: rgb(173, 173, 248);
$accent-2: rgb(255, 100, 165);
$accent-3: rgb(202, 161, 84);

$bg-1: rgb(18, 18, 18);
$bg-2: rgb(23, 23, 23);
$bg-3: rgb(41, 41, 41);


//LIGHT
// $text-default: rgb(0, 0, 0);

// $accent-1: rgb(88, 218, 185);
// $accent-2: rgb(255, 100, 165);
// $accent-3: rgb(255, 200, 98);

// $bg-1: rgb(255, 255, 255);
// $bg-2: rgb(255, 255, 255);
// $bg-3: rgb(190, 190, 190);