//DARK
$text-default: rgb(235, 235, 235);

$accent-1: rgb(173, 173, 248);
$accent-2: rgb(255, 100, 165);
$accent-3: rgb(202, 161, 84);

$bg-1: rgb(0, 0, 0);
$bg-2: rgb(44, 44, 44);
$bg-3: rgb(107, 107, 107);


//LIGHT
// $text-default: rgb(0, 0, 0);

// $accent-1: rgb(88, 218, 185);
// $accent-2: rgb(255, 100, 165);

// $bg-1: rgb(255, 255, 255);
// $bg-2: rgb(240, 240, 240);
// $bg-3: rgb(190, 190, 190);